.ag-theme-alpine-dark {
  --ag-background-color: transparent;
  --ag-odd-row-background-color: rgba(35, 32, 31, 0.42);
  --ag-header-background-color: #343841;
  --ag-font-size: 1.2rem;
  --ag-borders: none;
  --ag-row-hover-color: #359b5e;

  --ag-borders-critical: 1px solid #9fa2a4;

  --ag-header-column-resize-handle-color: rgb(225, 225, 225);
}
