.root {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.logoPic {
    font-size: 4rem !important;
}

.logoText {
    margin: 1rem 0 0 0 !important;
    padding: 0 !important;
    font-size: 2rem;
    color: #369dc9;
}

.authCard {
    width: 18rem;
    margin: auto;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.passwordField {
    margin: 0;
    width: 100% !important;
}

.spaceBottom {
    margin-bottom: 1.4rem;
}

.spaceTop {
    margin-top: 1.4rem;
}